<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/x-handlebars">
  Hi
  {{#link-to 'second'}} second {{/link-to}}
  {{#link-to 'index'}} index {{/link-to}}
  {{#link-to 'posts'}} post {{/link-to}}
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <h2>index</h2>
</script>

<script type="text/x-handlebars" data-template-name="second">
  <h2>second</h2>
</script>

<script type="text/x-handlebars" data-template-name="posts">
  <h3>{{title}}</h3>
  <p><img {{bind-attr src=authorAvatar}} style="float: left; margin: 8px; border: 1px solid black;"/>
  {{text}}
  </p>
  <p><small>{{displayedAt}}</small></p>
</script>



  <!--script type="text/x-handlebars">
    <h1>Hi</h1>
    {{#link-to 'weiter'}} weiter {{/link-to}} <br/ >
    {{#link-to 'index'}} start {{/link-to}} <br />
    {{#link-to 'post'}} post {{/link-to}} <br />
    {{outlet}}
  </script>
  <script type="text/x-handlebars" data-template-name="index">
    <h2>index</h2>
  </script>
  <script type="text/x-handlebars" data-template-name="weiter">
    <h2>weiter</h2>
  </script>

  <script type="text/x-handlebars" data-template-name="post">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <img {{bind-attr src=author_avatar}} />
    <p>{{displayedAt}}</p>
  </script-->
  
  <%= javascript_include_tag "application" %>
</body>
</html>
